body {
	font-family: 'Roboto', sans-serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	overflow-x: hidden;
}

h1 {
	font-size: 56px;
	line-height: 80px;
	color: white;
}

h2 {
	font-size: 36px;
	line-height: 45px;
	color: #19191b;
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
	font-variant: Regular;
	max-width: 360px;
}

a:active,
a:hover,
a {
  color: white !important;
}

a:hover{
	cursor: pointer;
}


.container-flex {
	max-width: 1170px;
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
}

.header {
	padding-top: 35px;
}

.navbar {
	margin-left: -15px;
	margin-right: -15px;
	padding-right: 0px !important;  
	padding-left: 0px !important; 
}

#navbar1 ul{
	margin: 0 auto;
}

.nav-item {
	padding-left: 17px;
	padding-right: 17px;
}

.navbar-toggler {
	width: 100vw;
	right: 50%;
	top: 10px;
	margin: 0 auto;
	padding-left: 10px;
	text-align: center;
	font-size: 24px;
    color: white;
}

.section-left {
	left: 0;
	width: 50%;
	margin: 0 0 0 0;
}

@media screen and (max-width: 765px) {
	.section-left {
	width: 100%;
}
}


.section-right {
	right: 0;
	width: 50%;
	margin: 0 0 0 0;
}

.section-half-right {
	right: 0;
	width: 25%;
	margin: 0 0 0 0;
}

.background-layer-1 {
	background-image: url(../images/Layer3.jpg);
	background-color: #212a2e;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.header-logo {
	top: -10px;
}

.navbar img{
	padding-left: 10px;
}

.header-menu>ul>li {
	float: left;
	padding-right: 35px;
}

.header-icons {
	position: absolute;
	right: 0;
	top: 25px;
	padding-right: 10px;
}

.header-icons i{
	font-size: 24px;
	color: white;
	padding-left: 18px;
}

.button {
	border-style: none;
	font-family: 'Roboto', sans-serif;
	font-variant: Regular;
	background-color: #d3aa68;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	color: white;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 35px;
	padding-left: 35px;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.button:hover {
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.button a:hover {
  text-decoration: none;
}

.header-slogan {
	color: white;
	display: flex;
	align-items: center;
	height: 100%;
	margin-top: -40px;

}



.about-us {
	margin-top: 170px;
	margin-bottom: 170px;
}

.about-us h2 {
	max-width: 350px;
}

.about-us-content {
	padding-left: 15px;
	padding-right: 15px;
}

.content {
	font-family: 'Roboto Light', 'Roboto', sans-serif;
	color: #8e8e90;
	line-height: 30px;
}

.no-padding {
	padding: 0 0 0 0 !important;
}

.headline{
	color: #d3aa68;
	text-transform: uppercase;
	font-family: 'Roboto', sans-seriF;
	font-style: regular;
	padding-right: -15px;
	padding-left: -15px;
	margin-bottom: 30px;
}

.layer-container {
	width: 50%;
	margin: 0 0 0 0;
	min-width: 500px;
	float: left;
	border: none;
}

.background-layer-2 {
	background: url(../images/Layer2.jpg);
	background-color: #9a7a79;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px !important;
}

.background-layer-3 {
	position: absolute;
	background: url(../images/Layer4.jpg);
	background-color: #99a7a7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px !important;
	right: 0;
}

.who-we-are-inner {
	display: flex;
	align-items: center;
	margin-left: 115px;
	max-width: 475px;
	margin-top: 15px;
	padding-top: 175px;
	padding-bottom: 175px;
	background-color: #fafcfd;
}

.services {
	margin-top: 170px;
}

.services-headline {
	font-size: 20px;
	color: #19191b;
	padding-top: 10px;
}

.services-help-business {
	margin-bottom: 40px;
}

.services-item {
	margin-bottom: 40px;
}

.our-mission {
	margin-top: 170px;
}

.our-mission-inner {
	display: flex;
	align-items: center;
	max-width: 585px;
	padding-top: 175px;
	padding-bottom: 175px;
	max-width: 475px;
	right: 0;
	margin-bottom: 40px;
}

.news {
	margin-top: 170px;
}

.news-top-headline{
	margin-bottom: 75px;
}

.news-item-background {
	background: url(../images/news11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.news-item {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	height: 100% !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}

.news-item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.news-item img{
	width: 100%;
}

.news-item-cotainer {
	margin-bottom: 30px;
}

.news-headline{
	color: #aaa9a9;
	text-transform: uppercase;
	font-family: 'Roboto', sans-seriF;
	font-style: regular;
	margin-top: 40px;
	margin-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

.news-content {
	font-family: 'Roboto', sans-serif;
	font-variant: Light;
	text-transform: uppercase;
	font-size: 22px;
	color: #19191b;
	line-height: 32px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

.content-content-lefft-column {
	font-family: 'Roboto', sans-serif;
	font-variant: Light;
	font-size: 16px;
	color: #565658;
	line-height: 24px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.news-content-left {
	font-family: 'Roboto', sans-serif;
	font-variant: Light;
	text-transform: uppercase;
	font-size: 22px;
	color: #19191b;
	line-height: 32px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;	
}

.news-read-more {
	font-family: 'Roboto', sans-serif;
	font-variant: Regular;
	font-size: 12px;
	color: #19191b !important;
	line-height: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.news-read-more a {
	color: #19191b !important;
}

.view-all {
	margin-top: 120px;
}

.button-view-all {
	text-align: center;
	margin: 0 auto;
}

.stay-always-in-touch {
	margin-top: 170px;
	background-color: #25292b;
	padding-top: 65px;
	padding-bottom: 65px;
}

.stay-always-in-touch-headline h3{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-variant: Regular;
	font-size: 36px;
	line-height: 36px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.submit-form {
	max-width: 600px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-content: stretch;
}

.input-form {
	width: 100%;
    height: 100%;
    background-color: #2e3336;
    border: none;
    color: #808589;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    float: left;
    left: 0;
}

.subscribe-form {
	font-family: 'Roboto', sans-serif;
	font-variant: Regular;
	border-style: none;
	background-color: #d3aa68;
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 35px;
	padding-left: 35px;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.subscribe-form:hover {
	-webkit-transform: scale(1.1) !important;
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
}

.footer {
	background-color: #1e2223;
	padding-top: 70px;
	padding-bottom: 70px;
}

.footer-logo {
	top: 0;
}

.footer-title {
	font-family: 'Roboto', sans-serif;
	font-variant: Regular;
	font-size: 16px;
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}

.footer-column ul li a{
	font-family: 'Roboto', sans-serif;
	font-variant: Light;
	font-size: 14px;
	line-height: 28px;
	color: #808589 !important;
}

.footer-content {
	font-family: 'Roboto', sans-serif;
	font-variant: Light;
	font-size: 14px;
	line-height: 28px;
	color: #808589 !important;
}

.footer-social {
	margin-top: 70px;
	width: 100%;
}
     
.footer-social ul li{
	text-align: right;
	float: right;
	font-size: 22px;
	padding-left: 30px;
	color: #808589;
}

.footer-split-logo,
.footer-copyright p,
.footer-copyright p a,
.footer-copyright a {
	color: #767a7e !important;
	font-family: 'Roboto', sans-serif;
	font-variant: Light;
	font-size: 13px;
	line-height: 36px;
	margin-top: 15px;
	right: 0;
}

.footer-split-logo {
	text-align: right;
}


.footer-split-logo img {
	position: relative;
	top: -5px;
	margin-left: 7px;
	margin-top: 7px;
	text-align: right;
	right: 0;
}

@media screen and (max-width: 765px) {
	.header-slogan {
	margin-top: -140px;
}

.about-us {
	margin-top: 50px;
	margin-bottom: 50px;
}

.who-we-are-inner {
	margin-left: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.services {
	margin-top: 50px;
}

.our-mission-inner {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 15px;
}

.our-mission {
	margin-top: 50px;
}

.news {
	margin-top: 50px;
}

.view-all {
	margin-top: 50px;
}

.stay-always-in-touch {
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

}